*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.767);
}

.container{
    width: 100%;
    height: 100vh;
    background: #E2DAD6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

.calculator{
    background: #31363F;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 60px 60px 80px rgba(0, 0, 0, 0.4);
    max-width: 400px;
    width: 100%; 
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.calculator form input:hover {
    background-color: #1B1F26;
    transform: scale(0.95);
}

.calculator form input:active {
    background-color: #14181E;
    transform: scale(0.9);
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 145px;
}

form input.op {
    background-color: #222831;
}

form input.equal:hover, form input.op:hover {
    background-color: #1B1F26;
}

form input.equal:active, form input.op:active {
    background-color: #14181E;
}

@media (max-width: 768px) {
    .calculator {
        max-width: 100%;
        padding: 25px;
    }

    .calculator form input {
        width: 50px;
        height: 50px;
        font-size: 16px;
        margin: 8px;
        padding: 10px;
        align-items: center;
    }

    form .display input {
        font-size: 30px;
        padding: 10px;
    }

    form input.equal {
        width: 130px;
    }
}

@media (max-width: 480px) {
    .calculator {
        max-width: 100%;
        padding: 10px;
    }

    .calculator form input {
        width: 40px;
        height: 40px;
        font-size: 14px;
        margin: 5px;
    }

    form .display input {
        font-size: 30px;
    }

    form input.equal {
        width: 120px;
    }
}